@{
    ViewBag.Title = "ServicePage";
}
<h2>ServicePage</h2>


@Html.Partial("SignalRBase")

@Html.Label("tbx_fn", "function", null)
@Html.TextBox("tbx_fn")
<input type="button" value="send" onclick="send_command()" />


<script>

    function send_command() {
        var fn_name = $('tbx_fn').val();

        var jqxhr = $.ajax('@Url.Action("ExecuteCallbackOnClient", "Service", null)')
            .done(function () {
                alert("success");
            })
            .fail(function () {
                alert("error");
            })
            .always(function () {
                alert("complete");
            });
    }

</script>