

<div id="map"></div>

<style>
    #map {
        height: 400px;
        width: 100%;
    }
</style>

<script>
   

        var dmap = {

            client_data: [],
            client_markers: [],

            initialize: function () {

                navigator.geolocation.getCurrentPosition(function (position) {


                    var ucentr = { lat: position.coords.latitude, lng: position.coords.longitude };
                    window.map = new google.maps.Map(document.getElementById('map'), {
                        zoom: 4,
                        center: ucentr
                    });

                    servicehub.server.broadCastLocation(position.coords.latitude, position.coords.longitude);

                });

                var watchID = navigator.geolocation.watchPosition(function (position) {
                    servicehub.server.broadCastLocation(position.coords.latitude, position.coords.longitude);
                });
            },

            updateItem: function (data) {
                var midx = dmap.client_data.findIndex(x => x.ConnectionId == data.ConnectionId);
                if (midx == -1) {
                    dmap.client_data.push(data);
                } else {
                    dmap.client_data[midx] = data;
                }
                dmap.drawMarkers();

            },
            drawMarkers: function () {

                dmap.client_markers = [];
                $(dmap.client_data).each(function () {
                    var marker = new google.maps.Marker({
                        position: new google.maps.LatLng(this.Lat, this.Lon),
                        title: this.ConnectionId,
                    });
                    marker.setMap(window.map);
                    dmap.client_markers.push(marker);
                });
            }
        }

</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCnVkphssiZuiljaa3ULIiRHw-k6e9_bcg">
</script>