@using System;

@helper renderSortSelector_Orders(string ElementId)
    {
        <div class="ui-field-contain">
            <label for="sort-select-@ElementId" > @BaseResource.Get("SortSelect")</label>
            <select name="sort-select" id="sort-select-@ElementId" multiple="multiple" data-native-menu="false">
                <option>@BaseResource.Get("SortSelectEmpty")</option>
                <option value="CreationDate">CreationDate</option>
                <option value="CustomerUser">CustomerUser</option>
                <option value="StoreUser">StoreUser</option>
                <option value="OrderState">OrderState</option>
                <option value="ShippingState">ShippingState</option>
                <option value="PaymentState">PaymentState</option>
            </select>
        </div>
}
