
@{
    ViewBag.Title = "Index";
}

@{
    if (User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_LayoutBackend.cshtml";
    }
}

<div id="ServiceConfigurationTable"></div>

<script>


    function init_ServiceTalbe() {
         $('#ServiceConfigurationTable').jtable({
                title: '@BaseResource.Get("TableTitleServices")',
             actions: {

                      @{
                          if (User.IsInRole("Admin"))
                          {
                          <text>
                 listAction: function (postData, jtParams) { return jtable_datasource.list(postData, jtParams, "ServiceConfiguration", "List") },
                 createAction: function (postData) { return jtable_datasource.create(postData, "ServiceConfiguration", "Create") },
                 updateAction: function (postData) { return jtable_datasource.update(postData, "ServiceConfiguration", "Update") },
                 deleteAction: function (postData) { return jtable_datasource.delete(postData, "ServiceConfiguration", "Delete") }
                          </text>
                          }
                          else {
                           <text>
                           listAction: function (postData, jtParams) { return jtable_datasource.list(postData, jtParams, "ServiceConfiguration", "List") }
                          </text>
                                      }
                                  }
             },
                fields: {
                          Id: {
                              key: true,
                        list: false
                          },
                    ServiceName: {
                              title: 'Name',
                        width: '40%',
                        create: true,
                        edit: true
                    },
                    ServiceUrl: {
                              title: 'Url',
                        create: true,
                        edit: true,
                        display: function (data) {
                              return "<a href=\"/GoTo/" + data.record.ServiceUrl + "\">" + data.record.ServiceUrl + "</a>";
                          }
                          },
                    ServiceType: {
                              title: 'ServiceType',
                        create: true,
                        edit: true,
                        options: {
                                  @SignalRService.Utils.JTableHelper.Get_Options_ServiceType()
                        }
                          },

                    @if (User.IsInRole("Admin"))
                    {
                        <text>
                        User:
                        {
                                  title: 'OwnerName',
                        create: false,
                        edit: false,
                        display: function(data) { return data.record.User.Name }
                              },



                    StripeSecretKey: {
                                  title: 'StripeSecretKey',
                        create: true,
                        edit: true
                    },
                    StripePublishableKey: {
                                  title: 'StripePublishableKey',
                        create: true,
                        edit: true
                    },
                    MinerClientId: {
                                  title: 'MinerClientId',
                        create: true,
                        edit: true
                    },
                    MinerScriptUrl: {
                                  title: 'MinerScriptUrl',
                        create: true,
                        edit: true
                    }

                        </text>

                    }
                      }
            });
    }


    $(function () {

        init_ServiceTalbe();
        $('#ServiceConfigurationTable').jtable('load');

    });

</script>
