@model SignalRService.ViewModels.SignalRClientsBaseViewModel
@{
    ViewBag.Title = "SignalRClients-Index";
}

<h2>ClientsList</h2>


@Html.Partial("SignalRBase",Model.signalRBaseConfigurationViewModel )
@Html.Partial("ConnectedClientsJTable")
