@{
    ViewBag.Title = "YaService";
}

<div class="jumbotron">
    <h1>SRService</h1>
    <p class="lead">this is a protptype implementation for testing purpose only....</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Buy/Sell</h2>
        <p>-- -- -- -- -- --</p>
    </div>
    <div class="col-md-4">
        <h2>Buy/Sell DroneDelivery</h2>
        <p>-- -- -- -- -- --</p>
    </div>
    <div class="col-md-4">
        <h2>Militia</h2>
        <p>-- -- -- -- -- --</p>
    </div>
</div>