
@{
    ViewBag.Title = "Index";
}


<div id="tabs">
    <ul>
        <li><a href="#tabs-1">@BaseResource.Get("TabRoles")</a></li>
        <li><a href="#tabs-2">@BaseResource.Get("User2Roles")</a></li>
    </ul>
    <div id="tabs-1">
        @Html.Partial("RolesJTable")
    </div>
    <div id="tabs-2">
        @Html.Partial("User2RolesJTable")
    </div>
</div>

<script>
    $(function () {
        $("#tabs").tabs();
    });
</script>




